@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

:root, [data-theme] {
    background: white;
}

.ProseMirror-focused {
    outline: none;
}
