@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'fleuronmixed';
    src: url('./assets/fonts/fleuronmixed-webfont.woff2') format('woff2'),
    url('./assets/fonts/fleuronmixed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fleurondingbats';
    src: url('./assets/fonts/fleurondingbats-webfont.woff2') format('woff2'),
    url('./assets/fonts/fleurondingbats-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fleuronregular';
    src: url('./assets/fonts/fleuronregular-webfont.woff2') format('woff2'),
    url('./assets/fonts/fleuronregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

:root, [data-theme] {
    background: white;
}

.ProseMirror-focused {
    outline: none;
}
