@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

main {
    max-width: 900px;
    margin: auto;
}

.ProseMirror-focused {
    outline: none;
}

.login-input {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
